.mainContainer {
    display: block;
    position: fixed;
    min-height: 650px;
    /*min-height: 500px;*/
    height: auto;
    width: 100%;
    background-color: white;
    align-content: center;

}
.inputContainer {
    display: flex;
    width: 60%;
    margin: 20px auto;
    height: 50px;
    align-self: center;
    border: 1px solid dimgrey;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
h1 {
    text-align: center;
}
.addButton {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: yellowgreen;
    color: black;
    font-size: 26px;
}
.list {
    display: inline-block;
    width: 100%;
    height: auto;
}
.task {
    display: block;
    width: 70%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px black solid;
    margin: 10px auto;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

}
input {
    all: unset;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}
